In [1]:
# Dependencies
import pandas as pd
import os
from pathlib import Path

In [2]:
# From Assignment:
# Hint: Check out the sample solution called PyCitySchools_starter.ipynb located in the .zip file to review the desired format for this assignment.
# https://courses.bootcampspot.com/courses/3876/assignments/58093?module_item_id=1017229

# Starter prompts from the provided PyCitySchools_starter.ipynb

# File to Load
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
## District Summary

In [4]:
# Test for Success (Info Gathering)

# Header names of the school_data (easeir for me to read this way)
for column in school_data.columns:
    print(column)

School ID
school_name
type
size
budget

In [5]:
# Test for Success (Info Gathering)

# Header names of the student_data (easeir for me to read this way)
for column in student_data.columns:
    print(column)

Student ID
student_name
gender
grade
school_name
reading_score
math_score

In [6]:
# What the homework is asking for

# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()

print(f"There are {school_count} schools.")

There are 15 schools.

In [7]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].count()

print(f"There are {student_count} students total.")

There are 39170 students total.

In [8]:
# Calculate the total budget
total_budget = school_data['budget'].sum()

print(f"Total budget: ${total_budget}")

Total budget: $24649428

In [9]:
# Calculate the average (mean) math score
average_math_score = student_data['math_score'].mean()

print(f"The average math score across all schools is: {average_math_score}")
print(f"The (rounded) average math score across all schools is: {average_math_score:.2f}")

The average math score across all schools is: 78.98537145774827
The (rounded) average math score across all schools is: 78.99

In [10]:
# Calculate the average (mean) reading score
average_reading_score = student_data['reading_score'].mean()

print(f"The average math score across all schools is: {average_reading_score}")
print(f"The (rounded) average math score across all schools is: {average_reading_score:.2f}")

The average math score across all schools is: 81.87784018381414
The (rounded) average math score across all schools is: 81.88

In [11]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

print(f"Percentage of Students who passed Math Class: {passing_math_percentage}%")
print(f"Percentage of Students who passed Math Class, rounded: {passing_math_percentage:.2f}%")

Percentage of Students who passed Math Class: 74.9808526933878%
Percentage of Students who passed Math Class, rounded: 74.98%

In [12]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(f"Percentage of Students who passed Reading Class: {passing_reading_percentage}%")
print(f"Percentage of Students who passed Reading Class, rounded: {passing_reading_percentage:.2f}%")

Percentage of Students who passed Reading Class: 85.80546336482001%
Percentage of Students who passed Reading Class, rounded: 85.81%

In [13]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]

overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

print(f"Percentage of students that passed both math and reading: {overall_passing_rate}%")
print(f"Percentage of students that passed both math and reading, rounded: {overall_passing_rate:.2f}%")

Percentage of students that passed both math and reading: 65.17232575950983%
Percentage of students that passed both math and reading, rounded: 65.17%

In [14]:
# Create a dictionary of the listed metrics
district_summary_dict = {'Total Schools': school_count,
                         'Total Students': student_count,
                         'Total Budget': total_budget,
                         'Average Math Score': average_math_score,
                         'Average Reading Score': average_reading_score,
                         '% Passing Math': passing_math_percentage,
                         '% Passing Reading': passing_reading_percentage,
                         '% Overall Passing': overall_passing_rate
}


# Test for Success
district_summary_dict

{'Total Schools': 15,
 'Total Students': 39170,
 'Total Budget': 24649428,
 'Average Math Score': 78.98537145774827,
 'Average Reading Score': 81.87784018381414,
 '% Passing Math': 74.9808526933878,
 '% Passing Reading': 85.80546336482001,
 '% Overall Passing': 65.17232575950983}

In [15]:
# Creating a DataFrame from the dictionary
district_summary = pd.DataFrame(district_summary_dict, index=[0])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
## School Summary

In [17]:
# Use the code provided to select all of the school types
# DEBUGGING school_types = school_data_complete["type"].unique()
school_types = school_data_complete.groupby("school_name")["type"].first()

print(f"These are the Type of schools: {school_types}")

These are the Type of schools: school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [18]:
# DEBUGGING - List the school name and type for each school

# school_name_and_type = school_data_complete.groupby("school_name")["type"].first()
# print(school_name_and_type)

In [19]:
# List the school name and type for each school
school_name = school_data_complete["school_name"].unique()

print(school_name)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [20]:
# Calculate the total student count per school
per_school_counts = school_data_complete["school_name"].value_counts()

per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [21]:
# Calculate the total school budget and per capita spending per school
# per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

# per_school_capita = per_school_budget / per_school_counts

# Tried this version, got the following error message:
# C:\Users\TLCLa\AppData\Local\Temp\ipykernel_20968\526294201.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
# per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

In [22]:
# New Version: 

# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby(["school_name"]).mean(numeric_only=True)["budget"]

per_school_capita = per_school_budget / per_school_counts

In [23]:
# Test for success
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [24]:
# Test for success
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [25]:
# Test for success
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [26]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby(["school_name"]).mean(numeric_only=True)["math_score"]

per_school_reading = school_data_complete.groupby(["school_name"]).mean(numeric_only=True)["reading_score"]

In [27]:
# Test for success
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [28]:
# Test for success
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [29]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]

school_students_passing_math = students_passing_math.groupby(["school_name"]).count()["student_name"]

In [30]:
# Test for success
students_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [31]:
# Test for success
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [32]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]

school_students_passing_reading = students_passing_reading.groupby(["school_name"]).count()["student_name"]

In [33]:
# Test for success
students_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [34]:
# Test for success
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [35]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [36]:
# Test for success
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [37]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [38]:
# Test for success
per_school_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [39]:
# Test for success
per_school_passing_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [40]:
# Test for success
overall_passing_rate

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [41]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

# Create a dictionary of the listed metrics
per_school_summary_dict = {'School Type': school_types,
                           'Total Students': per_school_counts,
                           'Total School Budget': per_school_budget,
                           'Per Student Budget': per_school_capita,
                           'Average Math Score': per_school_math,
                           'Average Reading Score': per_school_reading,
                           '% Passing Math': per_school_passing_math,
                           '% Passing Reading': per_school_passing_reading,
                           '% Overall Passing': overall_passing_rate
}

# Test for success
per_school_summary_dict

{'School Type': school_name
 Bailey High School       District
 Cabrera High School       Charter
 Figueroa High School     District
 Ford High School         District
 Griffin High School       Charter
 Hernandez High School    District
 Holden High School        Charter
 Huang High School        District
 Johnson High School      District
 Pena High School          Charter
 Rodriguez High School    District
 Shelton High School       Charter
 Thomas High School        Charter
 Wilson High School        Charter
 Wright High School        Charter
 Name: type, dtype: object,
 'Total Students': Bailey High School       4976
 Johnson High School      4761
 Hernandez High School    4635
 Rodriguez High School    3999
 Figueroa High School     2949
 Huang High School        2917
 Ford High School         2739
 Wilson High School       2283
 Cabrera High School      1858
 Wright High School       1800
 Shelton High School      1761
 Thomas High School       1635
 Griffin High School      1468
 Pena High School          962
 Holden High School        427
 Name: school_name, dtype: int64,
 'Total School Budget': school_name
 Bailey High School       3124928.0
 Cabrera High School      1081356.0
 Figueroa High School     1884411.0
 Ford High School         1763916.0
 Griffin High School       917500.0
 Hernandez High School    3022020.0
 Holden High School        248087.0
 Huang High School        1910635.0
 Johnson High School      3094650.0
 Pena High School          585858.0
 Rodriguez High School    2547363.0
 Shelton High School      1056600.0
 Thomas High School       1043130.0
 Wilson High School       1319574.0
 Wright High School       1049400.0
 Name: budget, dtype: float64,
 'Per Student Budget': Bailey High School       628.0
 Cabrera High School      582.0
 Figueroa High School     639.0
 Ford High School         644.0
 Griffin High School      625.0
 Hernandez High School    652.0
 Holden High School       581.0
 Huang High School        655.0
 Johnson High School      650.0
 Pena High School         609.0
 Rodriguez High School    637.0
 Shelton High School      600.0
 Thomas High School       638.0
 Wilson High School       578.0
 Wright High School       583.0
 dtype: float64,
 'Average Math Score': school_name
 Bailey High School       77.048432
 Cabrera High School      83.061895
 Figueroa High School     76.711767
 Ford High School         77.102592
 Griffin High School      83.351499
 Hernandez High School    77.289752
 Holden High School       83.803279
 Huang High School        76.629414
 Johnson High School      77.072464
 Pena High School         83.839917
 Rodriguez High School    76.842711
 Shelton High School      83.359455
 Thomas High School       83.418349
 Wilson High School       83.274201
 Wright High School       83.682222
 Name: math_score, dtype: float64,
 'Average Reading Score': school_name
 Bailey High School       81.033963
 Cabrera High School      83.975780
 Figueroa High School     81.158020
 Ford High School         80.746258
 Griffin High School      83.816757
 Hernandez High School    80.934412
 Holden High School       83.814988
 Huang High School        81.182722
 Johnson High School      80.966394
 Pena High School         84.044699
 Rodriguez High School    80.744686
 Shelton High School      83.725724
 Thomas High School       83.848930
 Wilson High School       83.989488
 Wright High School       83.955000
 Name: reading_score, dtype: float64,
 '% Passing Math': Bailey High School       66.680064
 Cabrera High School      94.133477
 Figueroa High School     65.988471
 Ford High School         68.309602
 Griffin High School      93.392371
 Hernandez High School    66.752967
 Holden High School       92.505855
 Huang High School        65.683922
 Johnson High School      66.057551
 Pena High School         94.594595
 Rodriguez High School    66.366592
 Shelton High School      93.867121
 Thomas High School       93.272171
 Wilson High School       93.867718
 Wright High School       93.333333
 dtype: float64,
 '% Passing Reading': Bailey High School       81.933280
 Cabrera High School      97.039828
 Figueroa High School     80.739234
 Ford High School         79.299014
 Griffin High School      97.138965
 Hernandez High School    80.862999
 Holden High School       96.252927
 Huang High School        81.316421
 Johnson High School      81.222432
 Pena High School         95.945946
 Rodriguez High School    80.220055
 Shelton High School      95.854628
 Thomas High School       97.308869
 Wilson High School       96.539641
 Wright High School       96.611111
 dtype: float64,
 '% Overall Passing': Bailey High School       54.642283
 Cabrera High School      91.334769
 Figueroa High School     53.204476
 Ford High School         54.289887
 Griffin High School      90.599455
 Hernandez High School    53.527508
 Holden High School       89.227166
 Huang High School        53.513884
 Johnson High School      53.539172
 Pena High School         90.540541
 Rodriguez High School    52.988247
 Shelton High School      89.892107
 Thomas High School       90.948012
 Wilson High School       90.582567
 Wright High School       90.333333
 dtype: float64}

In [42]:
# DEBUGGING - What is the length of each array

# for key, value in per_school_summary_dict.items():
#    print(f"{key}: {len(value)}")

In [43]:
# Creating a DataFrame from the dictionary
per_school_summary = pd.DataFrame(per_school_summary_dict)

In [44]:
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

In [45]:
# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [46]:
## Highest-Performing Schools (by % Overall Passing)

In [47]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=False)
top_schools = top_schools[['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [48]:
## Bottom Performing Schools (By % Overall Passing)

In [49]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=True)
bottom_schools = bottom_schools[['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [50]:
## Math Scores by Grade

In [51]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

In [52]:
# Test for success
ninth_graders
tenth_graders
eleventh_graders
twelfth_graders

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39137,39137,Victoria Bailey,F,12th,Thomas High School,75,70,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130

In [53]:
# Group by `school_name` and take the mean of the `math_score` column for each.
# ninth_grade_math_scores = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["math_score"]
# tenth_grade_math_scores = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["math_score"]
# eleventh_grade_math_scores = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["math_score"]
# twelfth_grade_math_scores = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["math_score"]

# FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

In [54]:
# Second attempt

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean(numeric_only=True)["math_score"]
tenth_grade_math_scores = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean(numeric_only=True)["math_score"]
eleventh_grade_math_scores = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean(numeric_only=True)["math_score"]
twelfth_grade_math_scores = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean(numeric_only=True)["math_score"]

In [55]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": ninth_grade_math_scores,
                                     "10th": tenth_grade_math_scores,
                                     "11th": eleventh_grade_math_scores,
                                     "12th": twelfth_grade_math_scores
})

In [56]:
# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [57]:
## Reading Score by Grade

In [58]:
# Do I need to do this again if it's already done and defined?

# Use the code provided to separate the data by grade
# ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
# tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
# eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
# twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

In [59]:
# Group by `school_name` and take the mean of the the `reading_score` column for each.

ninth_grade_reading_scores = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean(numeric_only=True)["reading_score"]

tenth_grade_reading_scores = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean(numeric_only=True)["reading_score"]

eleventh_grader_reading_scores = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean(numeric_only=True)["reading_score"]

twelfth_grade_reading_scores = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean(numeric_only=True)["reading_score"]

In [60]:
# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_reading_scores,
                                        "10th": tenth_grade_reading_scores,
                                        "11th": eleventh_grader_reading_scores,
                                        "12th": twelfth_grade_reading_scores
})

In [61]:
# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [85]:
## Scores by School Spending

In [86]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [87]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [77]:
# Test for success
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [91]:
# DEBUGGING - I do not understand why it will not accept < or $ when that is what is provided

# Use `pd.cut` to categorize spending based on the bins.
# school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels)

# school_spending_df

# Cell In[88], line 2
#      1 # Use `pd.cut` to categorize spending based on the bins.
#----> 2 school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels)
#      4 school_spending_df

#File ~\anaconda3\envs\dev\lib\site-packages\pandas\core\reshape\tile.py:293, in cut(x, bins, right, labels, retbins, precision, include_lowest, duplicates, ordered)
#    290     if (np.diff(bins.astype("float64")) < 0).any():
#    291         raise ValueError("bins must increase monotonically.")
#--> 293 fac, bins = _bins_to_cuts(
#    294     x,
#    295     bins,
#    296     right=right,
#    297     labels=labels,
#    298     precision=precision,
#    299     include_lowest=include_lowest,
#    300     dtype=dtype,
#    301     duplicates=duplicates,
#    302     ordered=ordered,
#    303 )
#    305 return _postprocess_for_cut(fac, bins, retbins, dtype, original)
#
#File ~\anaconda3\envs\dev\lib\site-packages\pandas\core\reshape\tile.py:428, in _bins_to_cuts(x, bins, right, labels, precision, include_lowest, dtype, duplicates, ordered)
#   425         bins = unique_bins
#    427 side: Literal["left", "right"] = "left" if right else "right"
#--> 428 ids = ensure_platform_int(bins.searchsorted(x, side=side))
#    430 if include_lowest:
#    431     ids[np.asarray(x) == bins[0]] = 1
#
#TypeError: '<' not supported between instances of 'int' and 'str'

In [100]:
# DEBUGGING

# This is the solution I created using .str.repace. It's working Harder, not Smarter (tm).

# Create a temporary column with numeric values for categorization - this is annoying
# school_spending_df["Per Student Budget Numeric"] = school_spending_df["Per Student Budget"].str.replace('[\$\,]', '', regex=True).astype(float)

# Use `pd.cut` to categorize spending based on the bins.
# school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget Numeric"], bins=spending_bins, labels=labels)

# Drop the temporary column
# school_spending_df = school_spending_df.drop("Per Student Budget Numeric", axis='columns')

# school_spending_df

In [99]:
# This is Katy Yelle's solution, which is MUCH more efficent/ellegant than my own

# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [96]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [133]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855