In [1]:
# Dependencies
import pandas as pd
import os
from pathlib import Path

In [2]:
# From Assignment:
# Hint: Check out the sample solution called PyCitySchools_starter.ipynb located in the .zip file to review the desired format for this assignment.
# https://courses.bootcampspot.com/courses/3876/assignments/58093?module_item_id=1017229

# Sample starter from the provided PyCitySchools_starter.ipynb

# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
## District Summary

In [6]:
# Test for Success (Info Gathering)

# Header names of the school_data (easeir for me to read this way)
for column in school_data.columns:
    print(column)

School ID
school_name
type
size
budget

In [7]:
# Test for Success (Info Gathering)

# Header names of the student_data (easeir for me to read this way)
for column in student_data.columns:
    print(column)

Student ID
student_name
gender
grade
school_name
reading_score
math_score

In [8]:
# What the homework is asking for

# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()

print(f"There are {school_count} schools.")

There are 15 schools.

In [9]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].count()

print(f"There are {student_count} students total.")

There are 39170 students total.

In [10]:
# Calculate the total budget
total_budget = school_data['budget'].sum()

print(f"Total budget: ${total_budget}")

Total budget: $24649428

In [11]:
# Calculate the average (mean) math score
average_math_score = student_data['math_score'].mean()

print(f"The average math score across all schools is: {average_math_score}")
print(f"The (rounded) average math score across all schools is: {average_math_score:.2f}")

The average math score across all schools is: 78.98537145774827
The (rounded) average math score across all schools is: 78.99

In [12]:
# Calculate the average (mean) reading score
average_reading_score = student_data['reading_score'].mean()

print(f"The average math score across all schools is: {average_reading_score}")
print(f"The (rounded) average math score across all schools is: {average_reading_score:.2f}")

The average math score across all schools is: 81.87784018381414
The (rounded) average math score across all schools is: 81.88

In [13]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100

print(f"Percentage of Students who passed Math Class: {passing_math_percentage}%")
print(f"Percentage of Students who passed Math Class, rounded: {passing_math_percentage:.2f}%")

Percentage of Students who passed Math Class: 74.9808526933878%
Percentage of Students who passed Math Class, rounded: 74.98%

In [14]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(f"Percentage of Students who passed Reading Class: {passing_reading_percentage}%")
print(f"Percentage of Students who passed Reading Class, rounded: {passing_reading_percentage:.2f}%")

Percentage of Students who passed Reading Class: 85.80546336482001%
Percentage of Students who passed Reading Class, rounded: 85.81%

In [15]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]

overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

print(f"Percentage of students that passed both math and reading: {overall_passing_rate}%")
print(f"Percentage of students that passed both math and reading, rounded: {overall_passing_rate:.2f}%")

Percentage of students that passed both math and reading: 65.17232575950983%
Percentage of students that passed both math and reading, rounded: 65.17%

In [16]:
# Create a dictionary of the listed metrics
district_summary_dict = {'Total Schools': school_count,
                         'Total Students': student_count,
                         'Total Budget': total_budget,
                         'Average Math Score': average_math_score,
                         'Average Reading Score': average_reading_score,
                         '% Passing Math': passing_math_percentage,
                         '% Passing Reading': passing_reading_percentage,
                         '% Overall Passing': overall_passing_rate
}


# Test for Success
district_summary_dict

{'Total Schools': 15,
 'Total Students': 39170,
 'Total Budget': 24649428,
 'Average Math Score': 78.98537145774827,
 'Average Reading Score': 81.87784018381414,
 '% Passing Math': 74.9808526933878,
 '% Passing Reading': 85.80546336482001,
 '% Overall Passing': 65.17232575950983}

In [17]:
# Creating a DataFrame from the dictionary
district_summary = pd.DataFrame(district_summary_dict, index=[0])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [18]:
## School Summary