In [1]:
# Dependencies
import pandas as pd
import os
from pathlib import Path

In [2]:
# From Assignment:
# Hint: Check out the sample solution called PyCitySchools_starter.ipynb located in the .zip file to review the desired format for this assignment.
# https://courses.bootcampspot.com/courses/3876/assignments/58093?module_item_id=1017229

# Sample starter from the provided PyCitySchools_starter.ipynb

# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Test for Success (Info Gathering)

# Header names of the school_data
for column in school_data.columns:
    print(column)

School ID
school_name
type
size
budget

In [4]:
# Test for Success (Info Gathering)

# Header names of the student_data
for column in student_data.columns:
    print(column)

Student ID
student_name
gender
grade
school_name
reading_score
math_score

In [5]:
# What the homework is asking for

# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
print(f"There are {school_count} schools.")

There are 15 schools.

In [6]:
# A more detailed approach, may need later?

# Get the unique school names as an array
# unique_school_names = school_data_complete['school_name'].unique()

# Get the count of unique schools
# school_count = len(unique_school_names)

# Results
# print(f"Unique school names: {unique_school_names}")
# print(f"Number of unique schools: {school_count}")

In [7]:
# Calculate the total number of students
student_count = school_data_complete['student_name'].nunique()
print(f"There are {student_count} students total.")

There are 32715 students total.

In [8]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
print(f"Total budget: ${total_budget}")

Total budget: $24649428

In [9]:
# Calculate the average (mean) math score
average_math_score = 
average_math_score

SyntaxError: invalid syntax (2916706543.py, line 2)